@charset "utf-8";

* {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quan {
    background-color: #e1cda8;
    height: 148vh;
}

.a {
    background-color: aliceblue;
    height: 70px;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul li {
    margin: 0 25px;
}

ul li a {
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    line-height: 70px;

}

ul li a:hover {
    background-color: aquamarine;
    color: white;
}

.b1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.b1 h1 {
    color: black;
}

.b2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    justify-content: center;
    text-align: justify;
}

.b3 {
    width: 26%;
}

.bb {
    width: 30%;
    text-indent:2em;
}

.bb p {
    width: 90%;
    margin-left: 22px;
    text-align: justify-all;
}
