@charset "utf-8";
* {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quan {
    background-image: url("images/3.jpeg");
    height: 140vh;
}

.a {
    background-color: aliceblue;
    height: 70px;
}

ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

ul li {
    margin: 0 25px;
}

ul li a {
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    line-height: 70px;
}

ul li a:hover {
    background-color: aquamarine;
    color: white;
}

.b1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.b2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    justify-content: center;
    text-align: justify;
}

.b3 {
    width: 26%;
}

.dd {
    width: 30%;
    text-indent:2em;
}

.dd p {
    width: 90%;
    margin-left: 26px;
    text-align: justify-all;
}